body {
	background: purple;
	margin: 0;
}

#map {
	position:absolute;
	float:right;
	width:100%;
	height:100%;
}

#chart{
	    height:20%;
        width:20%;
		position:fixed;
        bottom:0;
		float:left;
		fill: "white";
	
	}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h1 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px
	opacity: 0.7;
}

.chart rect {
  fill: purple;
}


.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
    fill: black;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

h2 {
  margin: 0;
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

TD {
    padding: 5px;
    vertical-align:top;
}